body{
    
    margin: 0px;
    padding: 0;
}

.header_part{
    box-sizing: border-box;
    width: 100%;
    /* border: 2px solid black; */
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(191, 186, 186);
}

/* logo styling */

.col-xl-3{
    margin: 5.3px;
}

.logo{
    width: 240px;
    height: 80px;
}

/* icons of contacts  */

.col-xl-5{
margin-left: -58px;

display: flex;
align-items: center;
}

.arr_icons_row{
    display: flex;

    /* justify-content: center; */
    /* margin-top: 25px; */  
}

.arr_icons_row i{
    padding: 8px;
    font-size: 20px;
}

/* contact info at header */

.col-xl-3{
    display: flex;
    align-items: center;
   
}

.phone{
    width: 52px;
    height: 52px;
    
}

.arr_nums{
    padding-left: 50px;
    margin-top: 5px;
}

.p1{
    color: #212529;
    font-size: 12.64px;
}

.p2 p{
   margin-top: -10px;
   font-size: 13px;
   font-weight: bolder;
   color: #24abe3
    
}

.p2 img{
    width: 16px;
    height: 16px;
    
}

/* navbar */
.nav_main{
    background-color: rgb(254, 254, 254);
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #ef8205;
}

.navbar{

    display: flex;
    justify-content: space-between;
    margin: 10px;
   
    
}

.navbar a{
    font-size: 12px;
    font-weight: bolder;
    color: black;
    padding-bottom: 6px;
    padding: 0px;
   
}

#page, .navbar a:hover {
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #24abe3;
    padding-bottom: 4px;
    color: black;
}

/* curosels */

.carousel{
    height: 600px;
}

.carousel-item img{
    height: 540px;
}

/* image 1 contents */
.img1-cont, .img2-cont, .img3-cont{
   color: rgb(0, 0, 0);
    position: absolute;
    top: 6rem;
    left:15rem;
    width: 38%;
    height: 50%;
}

.img3-cont{
    color: white;
}

.about{
    font-size: 50px;
    font-weight: bolder;
}

.cont{
    font-weight: bold;
    line-height: 35px;
}

.more{
    margin-top: 50px;
    border-radius: 40px;
   border-style: none;
    background-color: #24abe3;
    padding: 15px 20px;
    color: white;
    font-weight: 600;
}

/* page 3 images */

.page3{
    height: 600px;
}

.image_add{
    box-sizing: border-box;
    padding: 16px;
}
.image_add1 img{
    width:216px;
    height: 314px;
}

.image_add2{
    position: absolute;
    top: 65rem;
    left: 22rem;
}

.image_add2 img{
    width: 340px;
    height: 240px;
}

/* right contents */
.abt{
    width: 500px;
    padding: 16px;
    /* background-color: aqua; */
}

.abt_but input{
    background-color: rgb(204, 202, 202);
    color: #24abe3;
    font-weight: bold;
    font-size: 13px;
    border-radius: 40px;
    border-style: none;
    width: 100px;
    margin-bottom: 20px;
}

.abt_p1 p{
    font-size: 35px;
    font-weight: bold;
}

.abt_p2 p{
    font-size: 12px;
    font-weight: bold;
    color: rgb(126, 125, 125);
}

/* page 4 */

.page4
{
    width: 1519px;
    height: 300px;
    /* background-color: aqua; */
   
    position: absolute;
    top: 80rem;
}

.card{
    width: 130px;
    margin-right: -50px;
    padding-top: 10px;
   
}

.card-text1{
    color: #24abe3;
    font-size: 30px;
    font-weight: bolder;
}

.card-text2{
    color: #000000;
    font-size: 13px;
    font-weight: bold;
    margin-top: -15px;
}

.card > i{
    font-size: 50px;
    color: #24abe3;
    
    /* width: 100px; */
}

/* hover effect on cards */
.card:hover{
    background-color: #24abe3;
}

.card > i:hover, .card-body > p:hover{
    color: white;
}

/* page-5  */

.page5{
    height: 340px;
    background-color: rgb(210, 213, 213);
}

.page5_cont{
    text-align: center;
    padding-top: 190px;
}

.service_but{
    font-size: 10px;
    font-weight: bolder;
    letter-spacing: 2px;
    background-color: white;
    color: #24abe3;
    border-radius: 20px;
    padding: 4px 25px;
    border-style: none;
}

.service_cont{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 7px;
}

/* page 6 */

.page6{
    margin-bottom: 160px;
}
.card-s{
    width: 270px;
    height: 390px;
    margin-top: -50px;
}



.card-s img{
    width: 290px;
    height: 320;
}

.card-body-s{
    width: 255px;
    height: 112px;
    background-color: rgb(255, 255, 255);
    padding: 13px;
    position: absolute;
    top: 125.5rem;
    box-shadow: 0px 0px 5px black;
}

.card-body-s-cont{
    display: flex; 
}

.card-body-s:hover{
background-color: #24abe3;
color: white;
}

.card-body-s-cont-left{
    width: 135px;
    margin-right: 40px;
}

.card-text-s1{
    color: #81808C;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

.card-text-s2{
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: -12px;
}



.card-body-s-cont-right{
    width: 42px;
    height: 30px;
    display: flex;
    margin: 30px 0 30px 0;
    justify-content: center;
    align-items: center;
    background-color: #81808C;
    border-radius: 30px;
}

/* page7 */

.page7{
    background-color: #d3d3d3;
    height: 550px;
    text-align: center;
    padding-top: 47px;
    display: flex;
    justify-content: center;
}

.page7-cont{
    height: 400px;
    width: 1024px;
    margin-bottom: 150px;
   
}

.page-cont1 input{
    background-color: white;
    color: #24abe3;
    border-style: none;
    border-radius: 30px;
    font-size: 11px;
    padding: 4px 16px;
    font-weight: bold;
    letter-spacing: 2px;
   
}

.hed{
    font-size: 40px;
    padding-top: 8px;
}

.hed-det{
   width: 970px;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    color: #81808C;
}

/* pag7 content 2 */

.jobby{
    
    display: flex;
    gap: 30px;
    
}

.jobby-conts{
    width: 214px;
    height: 185px;
    background-color: white;
    padding: 24px 16px 16px 16px;
}

.jobby-conts:hover{
    background-color: #24abe3;
    color: #212529;
}

.jobby-cont1{
    height: 100px;
    border-bottom-style: solid ;
    border-width: 2px;
    border-color: #81808C;
 
}

.jobby-cont1 img{

    width: 136px;
    height: 43px;
}

.jobby-cont1 p{
    padding: 16px 0;
    font-size: 16px;
}

.jobby-cont2{
    display: flex;
}

.jobby-cont2 p{
    width: 80px;
    font-size: 13px;
   margin-top: 10px;
   font-weight: bold;
}

.jobby-cont2 i{
   margin: 10px 0 0 70px;
   background-color: rgb(191, 189, 189);
   border-radius: 30px;
   border-style: none;
   width: 42px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
}


/* page 8  contact box*/
.contact-box{
    width: 1024px;
    height: 128px;
    background-color: #191825;
   font-size: 20px;
   letter-spacing: 0.5px;
   padding: 10px;
   position: absolute;
   top: 170rem;
   left: 210px;
   
}

.con-box-line{
    display: flex;
    justify-content: center;
    align-items: center; 
    
}

.con-box1 p{
    color: white;
    padding: 4px 0;
    width: 430px;
}



.con-box2-img img{
    width: 63px;
    height: 62px;
    margin: -7px 0 0 -70px;
}

.con-box3{
    color: white;
    padding-left: 30px;
}

.con-p2, .con-p3{
    margin-top: -15px;
}

/* page 9 */
.youtube{
    height: 650px;
    background-color: #dddde1;
    opacity: 0.8;
}
.back-col{
    height: 250px;
    margin-top: 150px;
    background-color: #000000;
    
}

iframe{
    width: 1000px;
    height: 500px;
    margin: 70px 0 70px 250px;
}

/* page 10 */

.comments{
    height: 700px;
    background-color: #6bbee2;
    
}

.com-hed{
    display: flex;
}

.com-box1{
    width: 380px;
    height: 200px;
    padding: 24px 16px 16px 16px;
  

    margin-left: 250px;
}

.com-box1 input{
    background-color: #dddce1;
    color: #24abe3;
    border-style: none;
    border-radius: 20px;
    padding: 4px 20px ;
    font-size: 12px;
    font-weight: bold;

    margin-top: 100px;
}

.com-box1 p{
    font-size: 40px;
    font-weight: bold;
}

.arr-i{
    display: flex;
   
}
.com-box1 i{
background-color: rgb(191, 189, 189);
border-radius: 30px;
border-style: none;
margin-right: 10px;
width: 70px;
height: 30px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}

/* box 2 */

.com-box2{
    width: 800px;
    height: 200px;
}

.com-box2 .carousel-item img{
    width: 400px;
    height: 160px;
    margin-top: 125px;

}

/* article and blogs */

.com-box3{
    margin-top: 150px;
    text-align: center;
}

.com-box3 input{
    background-color: #dddce1;
    color: #24abe3;
    border-style: none;
    border-radius: 20px;
    padding: 4px 20px ;
    font-size: 12px;
    font-weight: bold;

    margin-top: 50px;
}

.com-box3 p{
    font-size: 35px;
    font-weight: bold;


}

/* <!-- page 11 moving images --> */


.move-img{
    width: 1040px;
    margin: 0 0 0 200px;
    overflow: hidden;
    position: absolute;
    top: 255rem;
    
}

.move-img:hover{
    overflow:hidden;
}

.img-cont{
    display: flex;
    gap: 15px;
  
}

.same-img img{
    width: 325px;
    height: 225px;
}

.img1-contents{
    width: 325px;
    height: 125px;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px black;
    /* border: 1px solid rgb(185, 181, 181); */
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #c9cacb;
    padding: 10px 16px 16px 16px;
}


.img1-contents:hover{
    border-bottom-style: solid;
    border-width: 4px;
    border-color: #24abe3;
}

.img1-contents input{
    background-color: #dddce1;
    color: #24abe3;
    border-style: none;
    border-radius: 20px;
    padding: 4px 20px ;
    font-size: 12px;
    font-weight: bold;
}

.img1-contents p{
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    color: #080808;
    padding-bottom: 6px;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #95989a;



}

/* casestudy */

.casestudy{
   width: 1050;
   height: 350px;
   background-color: #132237;
   margin-top:200px ;
}

.case-box1{
    
    padding: 24px 16px 16px 16px;

    margin:0px 0 0 200px;
}

.case-box1 input{
    background-color: #dddce1;
    color: #24abe3;
    border-style: none;
    border-radius: 20px;
    padding: 4px 20px ;
    font-size: 12px;
    font-weight: bold;

    margin-top: 40px;
}

.case-box1 p{
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.case-i{
    display: flex;
   
}
.case-box1 i{
background-color: rgb(191, 189, 189);
border-radius: 30px;
border-style: none;
margin-right: 10px;
width: 70px;
height: 30px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}

/* footer above part */

.discover-box{
    width: 1024px;
    height: 128px;
    background-image: linear-gradient(90deg,orange,#24abe3);
   
   
   position: absolute;
   top: 309rem;
   left: 240px;
   
}

.discover-box-line{
    display: flex;
    justify-content: center;
    align-items: center; 
    
}

.discover-box1 p{
    font-size: 20px;
    font-weight: bold;
   letter-spacing: 0.5px;
    color:  #132237;
    padding: 40px 0;
    width: 480px;
}

.discover-box3 input{
    border-style: none;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 10px;
    border-radius: 5px;
    margin: -5px 0 0 40px;
}






/* Footer */

.footer{
    width: 1050;
    height: 350px;
    background-color: #132237;
    margin-top:200px ;
 }
 
 .foot-box1{
     
     padding: 24px 16px 16px 16px;
 
     margin:0px 0 0 200px;
 }
 
 .foot-box1 input{
     background-color: #dddce1;
     color: #24abe3;
     border-style: none;
     border-radius: 20px;
     padding: 4px 20px ;
     font-size: 12px;
     font-weight: bold;
 
     margin-top: 40px;
 }
 
 .foot-box1 p{
     font-size: 40px;
     font-weight: bold;
     color: white;
 }
 
 .foot-i{
     display: flex;
    
 }
 .foot-box1 i{
 background-color: rgb(191, 189, 189);
 border-radius: 30px;
 border-style: none;
 margin-right: 10px;
 width: 70px;
 height: 30px;
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
 }